//-----===== Базовые переменные ====-----//

// Стили шрифтов по умолчанию
$font-style-basic: normal;
$font-weight-basic: 400;

$font-size-html: 1rem;
$font-size-body: 16px;

$font-family-basic: "Arial", sans-serif;

$line-height-basic: 1.5;

// Цвета
$white: #ffffff;
$black: #000000;
