@charset "UTF-8";

// 1. Сначала включите функции (чтобы Вы могли управлять цветами, SVG, вычислением и т.д.)
@import "bootstrap/scss/functions";

// 2. Включите сюда любые переопределения переменных по умолчанию

// контрольные точки
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// максимальная ширина контейнера в при достижении контрольных точек
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

// ширина отступов с лево право в колонках
$grid-gutter-width: 1.5rem;

// контроль интервалов g-*{size} | m-*{size} | p-*{size}
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

// 3. Включите остальные требуемые таблицы стилей Bootstrap (включая любые отдельные таблицы стилей цветового режима)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// 4. Включите сюда любые переопределения карт по умолчанию


// 5. Включить остальные необходимые модули
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// 6. Включить шрифты
@import "fonts";

// 8. При необходимости включите компоненты
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/helpers"; //-> можно подключить выборочно
@import "bootstrap/scss/utilities";

@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";


// 9. Добавление, удаление, изменение utilities. дока: https://bootstrap-5.ru/docs/5.3/utilities/api/


// 10. API утилит, чтобы генерировать классы на основе карты Sass в `utilities.scss`
 @import "bootstrap/scss/utilities/api";

// 11. Добавьте сюда дополнительный пользовательский код

// Анимации
// @import 'animations';

// Базовые настройки
@import "core";

// Служебные класы
@import "service";

// Блоки


