include ../mixins/mixins

block variables

doctype html

html(class="page" lang="ru")

  head
    include ../partials/head

    block description

    block link

    block script

  body

    block content
