extends templates/layouts/default

block variables

  - const pageTitle = "Заготовка";

block description

  meta(name="author" content="Abraklion")
  meta(name="description" content="Описание")

block link

  link(rel="stylesheet" href="assets/css/style.min.css")

block script

  script(defer src="assets/js/main.js")

block content

  p.text Привет

  span Gfjrf

  .box
    a(href='').link Ссылка
